.contenedor-home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contenedor-home{
    background-color:'#FFF';
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}